<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div id="root">
		<input type="text" id="input" v-model="message">
		<!-- v-model binds this input to the message property of data -->

		<p>The value of the input is: {{ message }}</p>

		<ul>
			<!-- <li v-for="name in names">{{ name }}</li> -->
			<!-- Above same as below -->
			<li v-for="name in names" v-text="name"></li>
		</ul>

		<input id="input-name" type="text" v-model="newName">
		<!-- <button id="button">Add name</button> -->
		<!-- v-on is used to register event listeners with vue -->
		<!-- With directives, v-on is the directive, and anything after the : is the argument -->
		<!-- <button v-on:click="addName">Add name</button> -->
		<!-- v-on and @ are the name. @ is shorthand for v-on -->
		<button @click="addName">Add name</button>

	</div>

	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>

	<script type="text/javascript">

		// Without Vue:
		// let data = {
		// 	message: 'Hello World'
		// };
		// document.querySelector('#input').value = data.message;

		// Below we create a Vue instance, specify an element, and bind to some data
		var app = new Vue({
			el: '#root',
			data: {
				newName: '',
				message: 'Hello World',
				names: ['Joe', 'Mary', 'Jane', 'Jack']
			},
			methods: {
				addName(){
					// alert('adding name');
					// this.names will automatically refer to the value in the data object
					this.names.push(this.newName);
					this.newName = '';
				}
			}
			// mounted(){ // Once everything is ready to go...
			// 	// alert('ready')
			// Vanilla JavaScript -- not needed with vue. Updated with addName() method
			// 	document.querySelector('#button').addEventListener('click', ()=>{
			// 		let name = document.querySelector('#input-name');
			// 		app.names.push(name.value);
			// 		name.value = ''; // Empties input
			// 	})
			// }
		})

		// Without Vue:
		// document.querySelector('#button').addEventListener('click', ()=>{
		// 	let name = document.querySelector('#input-name');
		// 	app.names.push(name.value);
		// 	name.value = ''; // Empties input
		// })

	</script>

</body>
</html>